.advantages__list {
	background-color: $color-gray-light;

	@include reset("list");

	@media ($tablet-desktop) {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: repeat(3, 1fr);
	}

	@media ($mobile) {
		&--arrow::before {
			content: "";
			position: relative;
			top: 0;
			bottom: 100%;
			left: 0;
			display: block;
			width: 100%;
			height: 37px;
			background: url("../img/intro-triangle-small.svg");
			background-color: $color-accent;
			background-repeat: no-repeat;
			background-position-x: 50%;
		}

		&--arrow > .advantages__item {
			margin: 0 18px;
		}
	}

	&--icon {
		padding-bottom: 50px;
		background-color: $color-white;

		@media ($tablet-desktop) {
			padding-bottom: 19px;
		}

		@media ($desktop) {
			padding-bottom: 40px;
		}
	}
}

.advantages__group {
	display: grid;
	grid-column: 1 / -1;

	@media ($tablet-desktop) {
		grid-template-columns: repeat(3, 1fr);

		&:nth-of-type(2n) .advantages__img-wrapper {
			order: -1;
		}
	}
}

.advantages__item {
	position: relative;
	padding: 26px 15px 24px;
	text-align: center;

	@media ($tablet-desktop) {
		box-sizing: border-box;
		min-height: 256px;
		padding: 40px 32px;
	}

	@media ($desktop) {
		padding: 45px 32px 39px;
	}

	&--bordered {
		&:not(:last-child) {
			@media ($mobile) {
				border-bottom: 1px solid $color-gray-dark;
			}
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 20px;
		left: 20px;
		background-color: $color-gray-dark;
	}
}

.advantages__item--accent {
	padding: 34px 15px 39px;
	color: $color-white;
	background-color: $color-accent;
	border: none;

	@media ($tablet-desktop) {
		padding: 40px 15px 39px;
	}

	.advantages__number,
	.advantages__description {
		color: $color-white;
	}
}

.advantages__icon {
	@media ($mobile) {
		padding-top: 31px;
		padding-bottom: 0;
		padding-left: 70px;
		text-align: left;
	}

	@media ($tablet-desktop) {
		padding-top: 159px;
	}

	@media ($desktop) {
		padding-top: 159px;
	}

	&::before {
		content: "";
		position: absolute;
		top: 25px;
		left: 18px;
		width: 40px;
		height: 40px;
		background-color: $color-accent;

		@media ($tablet-desktop) {
			top: 59px;
			left: calc(50% - 40px);
			width: 80px;
			height: 80px;
		}
	}

	&--house::before {
		mask-image: url("../img/sprite.svg#house");
	}

	&--food::before {
		mask-image: url("../img/sprite.svg#food");
	}

	&--present::before {
		mask-image: url("../img/sprite.svg#present");
	}
}

.advantages__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;

	@include reset("content");

	@media ($tablet-desktop) {
		padding: 0 20px;
		font-size: 21px;
	}

	@media ($desktop) {
		padding: 0 70px;
	}
}

.advantages__number {
	display: block;
	margin-top: 11px;
	margin-bottom: 17px;
	text-align: center;
	color: $color-black-extra-light;

	@media ($tablet) {
		margin-top: 13px;
		margin-bottom: 23px;
	}
}

.advantages__description {
	@include reset("content");
	margin-top: 16px;
	color: $color-black-extra-light;

	@media ($tablet-desktop) {
		margin-top: 23px;
		font-size: 14px;
	}
}

.advantages__img-wrapper {
	@media ($tablet-desktop) {
		grid-column: span 2;
	}
}

.advantages__image {
	display: block;
	width: 100%;
	height: 100%;
	background-color: $color-accent-extra-dark;
	object-fit: cover;
}
