.booking {
	padding: 63px 18px 49px;
	text-align: center;

	@media ($tablet-desktop) {
		padding-bottom: 58px;
	}
}

.booking__title {
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 21px;
	line-height: 18px;

	@include reset("content");

	@media ($tablet-desktop) {
		font-size: 30px;
	}
}

.booking__description {
	@include reset("content");

	margin-top: 24px;
	margin-bottom: 32px;

	@media ($tablet-desktop) {
		margin-top: 35px;
		margin-bottom: 44px;
	}
}

.booking__button {
	width: 100%;
	max-width: 458px;
	padding: 16px 20px;
}
