.button {
	box-sizing: border-box;
	padding: 16px 30px;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	font-family: inherit;
	text-align: center;
	color: $color-white;
	text-transform: uppercase;
	background-color: $color-accent;
	border: none;
	cursor: pointer;
}
