.button {
	box-sizing: border-box;
	padding: 16px 50px;
	font: inherit;
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: $color-white;
	text-transform: uppercase;
	background-color: $color-accent;
	border: none;
	cursor: pointer;
}
