.form {
	display: grid;

	@media ($tablet-desktop) {
		align-items: start;
		grid-template-columns: 1fr 1fr;
		margin-top: 20px;
		padding: 0 60px;
	}

	@media ($desktop) {
		margin-top: 56px;
		padding: 0 120px;
	}
}

.form__fieldset {
	position: relative;
	display: grid;
	margin: 24px 0 0;
	padding: 0 0 20px;
	border: none;

	@media ($tablet-desktop) {
		grid-column: 1 / -1;
		margin-top: 48px;
		padding: 0;

		&:first-child {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 1px;
				background-color: $color-gray-dark;

				@media ($desktop) {
					right: -14px;
				}
			}
		}

		&:first-child .form__fieldlist {
			padding-right: 44px;

			@media ($desktop) {
				padding-right: 49px;
			}
		}

		&:nth-child(2) .form__fieldlist {
			padding-left: 44px;

			@media ($desktop) {
				padding-left: 78px;
			}
		}
	}
}

// -n+2 - Selects only first and second elements
.form__fieldset:nth-of-type(-n+2) {
	@media ($tablet-desktop) {
		grid-column: span 1;
		margin-top: 9px;
		padding: 0 0 16px;

		.form__title-wrapper {
			margin-bottom: 26px;
		}

		.form__title {
			background-color: transparent;
		}

		.form__title-wrapper::before {
			display: none;
		}
	}
}

.form__fieldlist {
	@include reset("list");

	position: relative;
	display: grid;
	gap: 14px;
	padding: 0 20px;

	@media ($tablet-desktop) {
		padding: 0;
	}
}

.form__item {
	position: relative;
	display: flex;
	flex-direction: column;
}

.form__icon {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 58px;
	height: 58px;
	background-color: $color-gray;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		background-repeat: no-repeat;
		transform: translate(-50%, -50%);
	}

	&--phone {
		&::before {
			width: 18px;
			height: 18px;

			@include icon("phone", false);
		}
	}

	&--email {
		&::before {
			width: 16px;
			height: 12px;

			@include icon("mail", false);
		}
	}
}

.form__field {
	box-sizing: border-box;
	width: 100%;
	padding: 19px 16px 18px;
	font: inherit;
	font-weight: 700;
	font-size: 18px;
	background-color: $color-white-dark;
	border: none;

	&[type="number"] {
		appearance: textfield;
	}

	&--message {
		height: 150px;
		margin-top: 2px;
		line-height: 24px;

		@media ($tablet-desktop) {
			max-width: 768px;
			height: 160px;
			margin: 0 auto;
		}

		@media ($desktop) {
			max-width: 768px;
		}
	}

	&--icon {
		padding-right: 65px;
	}

	&::placeholder {
		color: rgba($color-black, 30%);
	}
}

.form__title-wrapper {
	position: relative;
	float: left;
	width: 100%;
	margin: 0 auto 18px auto;
	padding-top: 25px;

	@media ($tablet-desktop) {
		margin: 0 auto 25px auto;
		padding-top: 0;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 1px;
		background-color: $color-gray;


		@media ($tablet-desktop) {
			top: 50%;
			background-color: $color-gray-alt;
			transform: translateY(calc(-50% - 1px));
		}
	}
}

.form__title {
	@include reset("heading");

	position: relative;
	z-index: 1;
	margin: 0 auto;
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
	text-align: center;

	@media ($tablet-desktop) {
		max-width: 400px;
		font-size: 21px;
		line-height: 26px;
		background-color: $color-white;
	}
}

.form__field-label {
	align-self: flex-start;
	padding: 2px 16px 0;
	color: $color-black-extra-light;
}

.form__check-label {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	text-transform: initial;
	column-gap: 16px;
	cursor: pointer;
}

.form__filter-list {
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 16px;

	@include reset("list");

	@media ($tablet-desktop) {
		grid-template-columns: repeat(2, min-content);
	}

	&--impressions {
		margin-top: 1px;

		@media ($desktop) {
			grid-template-columns: repeat(3, min-content);
		}

		.form__filter-item {
			width: 280px;
		}
	}

	&--sights {
		@media ($mobile) {
			justify-content: left;
			padding: 1px 20px 0;
		}

		@media ($desktop) {
			grid-template-columns: repeat(4, min-content);
		}

		.form__filter-item {
			width: 220px;
		}
	}
}

.form__control-input {
	position: relative;
	width: 46px;
	height: 46px;
	margin: 0;
	cursor: pointer;
	appearance: none;

	// Default Styling is for Radio Buttons
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 46px;
		height: 46px;
		background-color: $color-white-dark;
		border-radius: 50%;
	}

	&:checked::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 16px;
		height: 16px;
		background-color: $color-black-extra-light;
		border-radius: 50%;
		transform: translate(-50%, -50%);
	}

	// Customization for checkboxes
	&[type="checkbox"] {
		&::before {
			border-radius: 4px;
		}

		&:checked::after {
			@include icon("tick");
			width: 24px;
			height: 16px;
			border-radius: 4px;
		}
	}
}

.form__button-wrapper {
	grid-column: 1 / -1;
	margin-top: 21px;
	padding: 0 20px;

	@media ($tablet-desktop) {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		width: 100%;
		max-width: 768px;
		margin: 48px auto;
		padding: 0;
	}

	@media ($desktop) {
		padding: 0 60px;
	}
}

.form__button {
	width: 100%;

	@media ($tablet-desktop) {
		max-width: 324px;
	}

	@media ($desktop) {
		max-width: 384px;
	}
}

.form__notice {
	@include reset("heading");

	margin-top: 2px;
	font-size: 12px;
	text-align: right;
	color: rgba($color-black-extra-light, 60%);
}

.form__input-wrapper {
	margin: 0 20px;
}
