.gallery__list {
	@include reset("list");
}

.gallery__author {
	@include reset("content");
}

.gallery__img {
	background-color: $color-gray;
}

.gallery__title {
	font-weight: 700;

	@include reset("content");
}

.gallery__like-count {
	font-weight: 700;

	@include reset("content");
}
