.main-nav {
	position: relative;
	min-height: 56px;
}

.main-nav__logo {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
	transform: translateX(-50%);

	img {
		display: block;
	}
}

.main-nav__toggle {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	width: 64px;
	height: 56px;
	background: transparent;
	border: none;
	cursor: pointer;

	&::before,
	&::after {
		content: "";
		position: absolute;
		right: 20px;
		width: 23px;
		height: 4px;
	}

	@media ($tablet-desktop) {
		display: none;
	}
}

@media ($mobile) {
	.main-nav--closed {
		.main-nav__toggle {
			&::before {
				top: 17px;
				background-color: $color-accent;
				box-shadow: 0 9px 0 $color-accent, 0 18px 0 0 $color-accent;
			}
		}

		.main-nav__navigation {
			display: none;

			@media ($tablet-desktop) {
				display: block;
			}
		}
	}

	.main-nav--opened {
		.main-nav__toggle {
			&::before,
			&::after {
				top: 26px;
				right: 17px;
				width: 27px;
				background-color: $color-white;
			}

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}
		}

		.main-nav__navigation {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			z-index: 2;
			display: block;
		}
	}

	.main-nav--nojs {
		.main-nav__toggle {
			display: none;
		}

		.main-nav__navigation {
			display: block;

			@media ($mobile) {
				padding-top: 100px;
			}
		}
	}
}
