.page {
	background-color: $color-background;
}

.page__body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	max-width: 1200px;
	min-height: 100vh;
	margin: 0 auto;
	font-size: 14px;
	line-height: 21px;
	font-family: "PT Sans", sans-serif;
	color: $color-black;
	text-transform: uppercase;
	background-color: $color-white;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
