.page-content__title {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 26px;
	text-transform: uppercase;
}

.page-content__description {
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
}

.page-content__cover-image {
	background-color: #81B3D2;
}
