@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans-bold.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .advantages__list--arrow::before {
    content: "";
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 37px;
    background: url("../img/intro-triangle-small.svg");
    background-color: #81b3d2;
    background-repeat: no-repeat;
    background-position-x: 50%;
  }
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__group {
  display: grid;
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .advantages__group {
    grid-template-columns: repeat(3, 1fr);
  }
  .advantages__group:nth-of-type(2n) .advantages__imsdasdasd {
    order: -1;
  }
}

.advantages__item {
  position: relative;
  padding: 39px 15px 35px;
  padding-left: 70px;
  text-align: center;
  background-color: #f2f2f2;
}
.advantages__item--accent {
  color: #ffffff;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .advantages__item {
    padding: 40px 32px;
  }
}

.advantages__icon {
  padding-left: 60px;
  text-align: left;
}
@media (min-width: 768px) {
  .advantages__icon {
    padding-top: 159px;
    text-align: center;
  }
}
.advantages__icon::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 18px;
  background-color: #000000;
}
@media (min-width: 768px) {
  .advantages__icon::before {
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.advantages__icon--house::before {
  width: 39px;
  height: 37px;
  mask: url("../img/sprite.svg#house");
}
.advantages__icon--food::before {
  width: 39px;
  height: 37px;
  mask: url("../img/sprite.svg#house");
}
@media (min-width: 768px) {
  .advantages__icon--food::before {
    width: 75px;
    height: 72px;
  }
}
.advantages__icon--present::before {
  width: 39px;
  height: 37px;
  mask: url("../img/sprite.svg#food");
}
@media (min-width: 768px) {
  .advantages__icon--present::before {
    width: 75px;
    height: 72px;
  }
}

.advantages__title {
  padding-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.advantages__number {
  display: block;
  padding-bottom: 17px;
  text-align: center;
}

.advantages__description {
  margin: 0;
}

@media (min-width: 768px) {
  .advantages__img-wrapper {
    grid-column: span 2;
  }
}

.advantages__image {
  display: block;
  width: 100%;
  background-color: #5496bd;
  object-fit: cover;
}

.booking {
  padding: 39px 30px 49px;
  text-align: center;
}

.booking__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.booking__description {
  margin-bottom: 32px;
  margin: 0;
}

.button {
  box-sizing: border-box;
  padding: 16px 50px;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.form {
  display: grid;
}
@media (min-width: 768px) {
  .form {
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .form {
    padding: 0 120px;
  }
}

.form__fieldset {
  position: relative;
  display: grid;
  grid-column: 1/-1;
  margin: 10px 0 0;
  padding: 0 16px 20px;
  border: none;
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .form__fieldset {
    padding: 28px 0;
  }
  .form__fieldset:nth-of-type(-n+2) {
    grid-column: span 1;
    border: none;
  }
  .form__fieldset:first-child {
    border-right: 1px solid #e5e5e5;
  }
  .form__fieldset:first-child .form__fieldlist {
    padding-right: 44px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .form__fieldset:first-child .form__fieldlist {
    padding-right: 63px;
  }
}
@media (min-width: 768px) {
  .form__fieldset:nth-child(2) .form__fieldlist {
    padding-left: 44px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .form__fieldset:nth-child(2) .form__fieldlist {
    padding-left: 64px;
  }
}
@media (min-width: 768px) {
  .form__fieldset--phone .form__field {
    max-width: 402px;
  }
}
@media (min-width: 1200px) {
  .form__fieldset--impressions {
    padding-top: 45px;
  }
}
@media (min-width: 1200px) {
  .form__fieldset--sights {
    padding-top: 38px;
  }
}

.form__fieldlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__field {
  padding: 16px;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  background-color: #f2f2f2;
  border: none;
}
.form__field--message {
  height: 150px;
}
@media (min-width: 768px) {
  .form__field--message {
    width: 100%;
    max-width: 768px;
    height: 160px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .form__field--message {
    max-width: 768px;
  }
}

.form__title {
  max-width: 400px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
@media (max-width: 767px) {
  .form__title {
    float: left;
    margin: 0 auto;
    padding: 24px 0 20px;
  }
}
@media (min-width: 768px) {
  .form__title {
    padding: 20px 50px;
    font-size: 21px;
    line-height: 26px;
  }
}

.form__field-label {
  align-self: flex-start;
  margin-top: 16px;
  padding: 0 14px;
}

.form__check-label {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: initial;
  column-gap: 16px;
  cursor: pointer;
}

.form__filter-list {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .form__filter-list {
    grid-template-columns: repeat(2, min-content);
  }
}
@media (min-width: 1200px) {
  .form__filter-list--impressions {
    grid-template-columns: repeat(3, min-content);
  }
}
.form__filter-list--impressions .form__filter-item {
  width: 280px;
}
@media (min-width: 1200px) {
  .form__filter-list--sights {
    grid-template-columns: repeat(4, min-content);
  }
}
.form__filter-list--sights .form__filter-item {
  width: 220px;
}

.form__control-input {
  position: relative;
  width: 46px;
  height: 46px;
  margin: 0;
  cursor: pointer;
  appearance: none;
}
.form__control-input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #e5e5e5;
  border-radius: 50%;
}
.form__control-input:checked::after {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  width: 16px;
  height: 16px;
  mask: url("../img/sprite.svg#like");
  border-radius: 50%;
}
.form__control-input[type=checkbox]::before {
  border-radius: 4px;
}
.form__control-input[type=checkbox]:checked::after {
  border-radius: 4px;
}

.form__button-wrapper {
  grid-column: 1/-1;
  margin-top: 56px;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 768px;
    margin: 48px auto;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .form__button-wrapper {
    padding: 0 60px;
  }
}

.form__button {
  width: 100%;
}
@media (min-width: 768px) {
  .form__button {
    max-width: 324px;
  }
}
@media (min-width: 1200px) {
  .form__button {
    max-width: 384px;
  }
}

@media (max-width: 767px) {
  .form__notice {
    display: none;
  }
}

.gallery__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .gallery__list {
    grid-template-columns: 1fr 1fr;
    padding: 63px 60px;
  }
}
@media (min-width: 1200px) {
  .gallery__list {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 63px 0;
  }
}

.gallery__item {
  position: relative;
  padding: 24px 20px;
}
@media (max-width: 767px) {
  .gallery__item {
    padding-bottom: 25px;
    border-top: 1px solid #e5e5e5;
  }
}
@media (min-width: 768px) {
  .gallery__item {
    padding: 0;
  }
}
.gallery__item--featured {
  grid-column: 1/-1;
}
.gallery__item--featured img {
  height: auto;
}

.gallery__content-wrapper {
  position: relative;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .gallery__content-wrapper {
    margin: 0;
    padding: 22px 90px 15px 20px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .gallery__content-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gallery__author {
  text-transform: initial;
  margin: 0;
}

.gallery__img {
  display: block;
  width: 100%;
  background-color: #e5e5e5;
  object-fit: cover;
}

.gallery__title {
  margin-top: 15px;
  font-weight: 700;
  margin: 0;
}

.gallery__like {
  display: flex;
  align-items: flex-end;
  column-gap: 14px;
}
@media (max-width: 767px) {
  .gallery__like {
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .gallery__like {
    position: absolute;
    top: 28px;
    right: 20px;
  }
}

.gallery__like-btn {
  width: 23px;
  height: 21px;
  color: #ffffff;
  background: none;
  border: none;
}

.gallery__like-count {
  display: inline-block;
  font-weight: 700;
  margin: 0;
}

.modal__message {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.main-nav {
  position: relative;
  min-height: 56px;
}

.main-nav__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.main-nav__logo img {
  display: block;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 64px;
  height: 56px;
  background: transparent;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
@media (max-width: 767px) {
  .main-nav--closed .navigation__link {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 20px;
  width: 23px;
  height: 4px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .navigation {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: block;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .navigation {
  padding-top: 100px;
}
.main-nav--nojs .navigation__link {
  display: block;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .navigation__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .navigation__item:first-child a {
    border-top: none;
  }
  .navigation__item:last-child a {
    border-bottom: none;
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 768px) {
  .navigation__item {
    width: 20%;
  }
  .navigation__item:nth-child(4n+2) {
    margin-right: 20%;
  }
}

.navigation__link {
  display: block;
  padding: 14px 17px 13px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 767px) {
  .navigation__link {
    background-color: #81b3d2;
    border-top: 1px solid rgba(1, 1, 1, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
@media (min-width: 768px) {
  .navigation__link {
    color: #000000;
    background-color: #ffffff;
  }
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.page-content {
  text-align: center;
}

.page-content__title {
  padding: 39px 120px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}
@media (min-width: 768px) {
  .page-content__title {
    padding-top: 47px;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .page-content__title {
    padding-top: 59px;
  }
}

.page-content__description {
  padding: 0 50px 33px;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .page-content__description {
    padding: 0 120px 56px;
  }
}
@media (min-width: 1200px) {
  .page-content__description {
    padding: 0 120px 45px;
  }
}

.page-content__cover {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 214px;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}
@media (min-resolution: 2dppx) {
  .page-content__cover {
    background-image: url("../img/back-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .page-content__cover {
    min-height: 290px;
    background-image: url("../img/back-desktop.jpg");
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .page-content__cover {
    background-image: url("../img/back-desktop@2x.jpg");
    background-size: 1200px auto;
  }
}
@media (min-width: 1200px) {
  .page-content__cover {
    min-height: 301px;
  }
}
.page-content__cover--big {
  min-height: 389px;
}
.page-content__cover--big .page-content__cover-image {
  padding-top: 90px;
}
@media (min-width: 768px) {
  .page-content__cover--big .page-content__cover-image {
    padding-top: 77px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .page-content__cover--big .page-content__cover-image {
    padding-top: 78px;
  }
}
.page-content__cover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
}

@media (min-width: 768px) {
  .page-content__cover-image {
    width: 460px;
    height: auto;
  }
}

.page-footer {
  display: grid;
  justify-content: center;
  padding: 38px 60px 23px;
}
@media (min-width: 768px) {
  .page-footer {
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.page-footer__tag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 13px;
  color: #000000;
  text-decoration: none;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
}

.social__item {
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.social__item a {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.video {
  padding: 20px 28px 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .video {
    border: none;
  }
}

.video__title {
  max-width: 445px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 60px;
}
@media (min-width: 768px) {
  .video__title {
    font-size: 21px;
    line-height: 26px;
  }
}

.video__description {
  max-width: 445px;
  margin: 0 auto;
}