@mixin reset($type: "all") {
	@if $type == "list" {
		@include reset();
		list-style: none;
	}

	@else if $type == "content" {
		margin: 0;
	}

	@else {
		margin: 0;
		padding: 0;
	}
}

@mixin icon($icon, $mask: true) {
	$value: url("../img/sprite.svg##{$icon}") no-repeat center / 100%;

	@if $mask {
		mask: $value;
	}

	@else {
		background: $value;
	}
}
